In [133]:
import pandas as pd 
import numpy as np
url = "http://cocl.us/Geospatial_data"
df = pd.read_csv(url)
df.shape

(103, 3)

In [140]:
##Previous csv file 
p_file = "df_can.csv"
df1 = pd.read_csv(p_file,index_col=0)
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge ,Malvern
1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough       Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [143]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.head()

,Postcode,Borough_x,Neighbourhood_x,Borough_y,Neighbourhood_y
0,M1B,Scarborough,"Rouge ,Malvern",Scarborough,"Rouge ,Malvern"
1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union",Scarborough,"Highland Creek ,Rouge Hill ,Port Union"
2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill",Scarborough,"Guildwood ,Morningside ,West Hill"
3,M1G,Scarborough,Woburn,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae,Scarborough,Cedarbrae

In [144]:
df_new.to_csv(r'final_df.csv')